name: CI Pipeline

on:
  push:
    branches: ["main"]
    paths-ignore:
      - "notes/**"
      - "README.md"

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: mohammed-danish-ga
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          docker build -t ghcr.io/mohammed-danish-ga/devops-app:latest -f docker/Dockerfile .
          docker push ghcr.io/mohammed-danish-ga/devops-app:latest

      - name: Set up kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG_DATA }}" > ~/.kube/config

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/



